body{
    background-image: url('./img/Lot-of-books-in-library_1440x900-2346921877.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do body */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    
   
}

header{
    background-color: #333;
    padding: 45px;
    margin: -8px;
}

ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens na horizontal */
    background-color: #333;
}

ul li {
    margin-right: 15px; /* Espaçamento entre os itens */
}

ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white;
    padding: 8px 12px;
    transition: color 0.3s; /* Adiciona uma transição suave ao passar o mouse */
    font-size: larger;
}

ul li a:hover {
    color: #007BFF; /* Altera a cor do link ao passar o mouse */
}

.center{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 300px;
    font-style: oblique;
}

.box {
    padding: 30px;
    border-radius: 20px;
    background-color: #999999;
    display: flex;
    flex-direction: column; /* Coloca os itens em uma coluna */
    gap: 10px; /* Espaçamento entre os itens */
    max-width: 300px; /* Limita a largura da caixa */
    margin: 200px auto; /* Centraliza a caixa na página */
}

.box h1{
    text-align: center;
    font-size: xx-large;

}

label {
    font-size: larger; /* Deixa o texto dos rótulos em negrito */
    font-family: Monospace;
}

input {
    padding: 8px; /* Adiciona um pouco de espaço interno */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
}

button{
    border-radius: 10px;
    padding: 2%;
    background-color: #007BFF;
    color: white;
}

